{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block title %}DD-CSS - Twitter{% endblock %}

{% block page_content %}

 {{ macros.form_in_panel(form,"Get IDs of Friends and Followers") }}
 {{ macros.about_in_panel("About",
      "You can download all follower/friend IDs of a tweep",
      "After submitting your request you can get the results immediately,
      or based on your authenticated account status you might have to wait. </p>

      <p> Due to Twitter rate limiting policy (15 API calls per 15 minutes window limit),
      there is no way to fetch all the friends/followers of a user
      that exceeds 75,000 ids (15 times the max amount of ids per cursor [5000]) without having to wait 15 minutes. </p>

      <p> Our database is updated as Twitter allows your account to fetch the remaining follower ids.
      So, if you are collecting 750K ids, you should visit your profile page 150 minutes later to download all.") }}

{% endblock %}