{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import '_macros.html' as macros %}

{% block title %}DD-CSS - Twitter{% endblock %}

{% block page_content %}

 {{ macros.form_in_panel(form,"Get Tweets from User Timeline") }}
 {{ macros.about_in_panel("About",
      "You can download up to 3200 last tweets of a user",
      "After submitting your request you can get the results immediately,
      or based on your authenticated account status you might have to wait.") }}

{% endblock %}